.resumen-card {
  box-shadow: none;
}

.resumen-card p {
  font-size: 16px;
  line-height: 1.5;
}

.resumen-card hr {
  margin: 15px 0;
  border: 0;
  border-top: 1px solid #eee;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.boton-dialogo {
  background: linear-gradient(to left, #74ADCD, #A1D1D1) !important;
  color: #000 !important;
  font-weight: 400;
  border-radius: 6px;
  padding: 8px 16px;
  transition: opacity 0.3s ease;
}

.boton-dialogo:hover {
  opacity: 0.85;
}
