<div class="main-content">
  <h2 class="page-title">Recomendaciones</h2>

  <div class="recommendation-list">

    <div *ngIf="isLoading" class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="!isLoading && recomendaciones.length === 0" class="empty-state">
      <mat-card class="recommendation-card empty-card">
        <mat-card-content>
          <p>Aún no tienes recomendaciones asignadas por tu psicólogo.</p>
        </mat-card-content>
      </mat-card>
    </div>

    <mat-card class="recommendation-card" *ngFor="let rec of recomendaciones; let i = index">
      <div class="card-header">
        <mat-card-title class="card-title">Recomendación {{ i + 1 }}</mat-card-title>
        <button mat-button class="boton-dialogo resumen-btn" (click)="verResumen(rec)">
          Ver resumen completo
        </button>
      </div>

      <mat-card-content class="card-content">
        <p><strong>Tipo:</strong> {{ rec.tipo }}</p>
        <p>{{ rec.mensaje | slice:0:50 }}...</p>
      </mat-card-content>
    </mat-card>




  </div>
</div>
