.main-content {
  margin-left: 280px;
  padding: 40px;
}
h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 30px;
  color: #333;
}

.select-patient-label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  color: #555;
}


.patient-highlight-card {
  background-color: #d4edda;
  border-radius: 4px;
  padding: 15px 20px;
  margin-bottom: 20px;
  box-shadow: none;
}

.card-content {
  font-size: 18px;
  font-weight: 600;
}

.search-bar-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-label {
  font-size: 18px;
  white-space: nowrap;
  color: #555;
}


.search-input-field {
  flex-grow: 1;
  max-width: 250px;
  font-weight: 500;
  height: 55px;
  line-height: 10px;

}

.search-input-field.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0;
  padding-bottom: 0 !important;
}


.search-button {
  background-color: #74a8d0;
  color:white;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
}


