.main-content {
  margin-left: 280px;
  padding: 40px;
}
h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 30px;
  color: #333;
}

.select-patient-label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  color: #555;
}

.patient-highlight-card {
  background-color: #d4edda;
  border-radius: 4px;
  padding: 15px 20px;
  margin-bottom: 20px;
  box-shadow: none;
}

.card-content {
  font-size: 18px;
  font-weight: 600;
}

.search-bar-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-label {
  font-size: 18px;
  white-space: nowrap;
  color: #555;
}


.search-input-field {
  flex-grow: 1;
  max-width: 250px;
  font-weight: 500;
  height: 55px;
  line-height: 10px;

}

.search-input-field.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0;
  padding-bottom: 0 !important;
}


.search-button {
  background-color: #74a8d0;
  color:white;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
}

/* Estilos para la lista de pacientes */
.patient-list {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-top: 20px;
}

.patient-list .mat-list-item {
  border-bottom: 1px solid #eee;
}

.select-button {
  background-color: #4CAF50;
  color: white;
  font-weight: 500;
  border-radius: 20px;
  padding: 2px 12px;
  line-height: 24px;
  min-width: auto;
}

.section-divider {
  margin: 30px 0;
  border: 0;
  border-top: 1px solid #ccc;
}

/* Estilos para la tabla de sesiones */
.session-table-container {
  margin-top: 20px;
}

.session-table {
  width: 100%;
}

.mat-column-id {
  width: 10%;
}
.mat-column-fecha, .mat-column-hora {
  width: 20%;
}
.mat-column-estado {
  width: 20%;
  font-weight: 600;
}
.mat-column-acciones {
  width: 30%;
  text-align: center;
}

th.mat-header-cell {
  color: #333;
  font-size: 16px;
  font-weight: 600;
}

/* Estilos para los botones de acción en la tabla */
.action-button {
  color: white;
  font-weight: 500;
  border-radius: 20px;
  padding: 4px 16px;
}

.accept-button {
  background-color: #4CAF50;
}

.summary-button {
  background-color: #3e8ab6;
}

/* Estilos para los estados */
.status-pending {
  color: #ffa000;
}

.status-accepted {
  color: #4CAF50;
}

